include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Оценка фронтенда: моя&nbsp;история&nbsp;о&nbsp;том, как&nbsp;сдавать&nbsp;задачи&nbsp;вовремя"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="vendor/highlight.css")
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header white"})
      ul 
        li Глава отдела фронтенда LOVATA
        li Фуллстек-разработчик (MEAN)
        li Участвую в организации MinskCSS и MinskJS
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
      +cover('pictures/white-cover.jpg')
    +slide({header: "<span class='label'>x3</span>", shout: true})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Легко ли вам оценивать?", classes: "label-header"})
      +cover('pictures/puff.jpg')
    +slide({header: "<span class='label'>Время = деньги</span>", shout: true})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Почему еще важно", classes: "label-header"})
      ul
        li.next Продать клиенту свое время
        li.next Объем работ должен быть конечен
        li.next Планирование загрузки разработчиков
    +slide({header: "Виды оценки", classes: "label-header"})
      ul
        li.next Предварительная оценка
          span.next  — высокоуровневая оценка
        li.next Точная оценка
          span.next  — оценка конкретной задачи
        li.next Переоценка
          span.next  — изменились требования, поменялся разработчик
    +slide({header: "Причины ошибок в оценках", classes: "label-header"})
      ul
        li.next Неточные требования или неизвестный набор задач
        li.next Не учитываются риски
        li.next Сложно оценить то, чего никогда не делал
        li.next Люди ошибаются в своих оценках, так как они - люди, а не оракулы
        li.next Недостаточное понимание ответственности
        li.next Производительность разработчиков может отличаться разы
    +slide({header: "<span class='label'>Как научиться</span>", shout: true, classes: 'cover'})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "0. Трекать время", classes: "label-header"})
      ul.next
        li
          a(href="https://zapier.com/blog/best-time-tracking-apps/" target="_blank") The 20 Best Time-Tracking Apps
          |  (статья)
      p.next.center
        img(src="pictures/toggl.jpg" width="250")
    +slide({header: "1. Уточняйте требования", classes: "label-header"})
      ul
        li.next Не бойтесь задавать вопросы
        li.next Убедитесь, что все моменты учтены
        li.next Давайте интервал вместо точной цифры
    +slide({header: "2. Детализируйте большие задачи", classes: "label-header"})
      ul
        li.next Разбивайте задачу на очевидные подзадачи
        li.next Думайте над (конкретной) реализацией
        li.next Не увлекайтесь дроблением
    +slide({header: "3. Оценивайте командой", classes: "label-header"})
      ul
        li.next Давайте задачи оценку нескольким специалистам
        li.next Дайте на ревью более опытному разработчику
        li.next Берите усредненные цифры для неточных оценок
    +slide({header: "4. Делайте переоценку задач", classes: "label-header"})
      ul
        li.next Подтвержайте заложенную оценку перед началом работы
        li.next Распишите/обсудите конкретную реализацию задачи
    +slide({header: "5. Определяйте рисковые задачи", classes: "label-header"})
      ul
        li.next Особо неопределенные задачи — новая технология, внешнее API и т.д.
        li.next Отдельно выделяйте время на research таких задач
        li.next Проговаривайте риски с менеджером/клиентом
        li.next Затем, если возможно, оценивайте/переоценивайте
    +slide({header: "6. Не забывайте про буфер", classes: "label-header"})
      ul
        li.next Помните, что вы никогда не тратите все 100% рабочего времени на задачу
        ul
          li.next Интеграции
          li.next Деплой, git
          li.next Коммуникации
          li.next Тестирование
          li.next Кофе, туалет, проверка почты, общение с коллегами, прокрастинация
    +slide({header: "7. Проблемы? Не молчите!", classes: "label-header"})
      ul
        li.next Советуйтесь с командой и не бойтесь просить помощи
        li.next Клиент — тоже человек, его можно переубедить
    +slide({header: "8. Собирайте статистику", classes: "label-header"})
      ul
        li.next Оценка - это не только то, что будет
        li.next Анализируйте оцененное и реально затраченное время
        li.next Проводите "ретро" по переоценным или недооцененным задачам
        li.next Накапливайте опыт для последующих оценок
        li.next Учитывайте коэффициент погрешности оценок (реальное / оцененное)
    +slide({header: "Бонус. Повышение прогнозируемости", classes: "label-header"})
      ul
        li.next Улучшайте комуникацию в команде
        li.next Как только появилась задержки по срокам - сразу к менеджеру
        li.next Комбинируйте людей в команды так, чтобы им было комфортно
        li.next Группируйте людей (по отделам, по проектам)
        li.next Пробуйте различные техники программирования (парное, экстремальное)
    +slide({header: "Хочу больше", classes: "label-header"})
      ul
        li 
          a(href="https://habrahabr.ru/company/ruswizards/blog/151029/" target="_blank") Реальная оценка или почему наступают дедлайны
          |  (Хабр) 
        li  
          a(href="https://dou.ua/lenta/articles/ob-otsenke-vremeni/" target="_blank") Некоторые правила улучшения временнóй оценки задачи
          |  (статья) 
        li  
          a(href="https://www.slideshare.net/VLDCORP/ss-10635744" target="_blank") Оценки имеют значение
          |  (SlideShare) 
        li  
          a(href="https://www.slideshare.net/ExigenServices/ss-26460568" target="_blank") Оценка задач, выполняемых по итеративной разработке
          |  (SlideShare) 
        li  
          a(href="https://habrahabr.ru/post/308494/" target="_blank") Как дать адекватную оценку времени, когда неопределённость бьёт по башке
          |  (Хабр) 
    +slide({header: "Как итог", classes: 'label-header'})
      figure
        blockquote 
          p — Нельзя поверить в невозможное! 
            br
            | — Просто у тебя мало опыта
        figcaption «Алиса в Зазеркалье», Льюис Кэрролл

    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link 
        a.bigger(href="http://bit.ly/fc2017-estimation" target="_blank") bit.ly/fc2017-estimation
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/blur-cover.jpg')
    
    .progress
    script(src='shower/shower.min.js')